In [1]:
import xarray as xr
import numpy as np
import pandas as pd

In [2]:
tks = xr.open_dataset('data/NA_data.nc', engine="netcdf4", decode_times=False)

pdi_df = pd.read_csv('PDI_max.csv')

In [4]:
num_storms = tks.dims['storm']
feature_data = []

for i in range(num_storms):
    n_obs = int(tks.numobs.isel(storm=i).values)
    
    lat_vals = tks.lat.isel(storm=i, date_time=slice(0, n_obs)).values
    lon_vals = tks.lon.isel(storm=i, date_time=slice(0, n_obs)).values

    d2l_vals = tks.dist2land.isel(storm=i, date_time=slice(0, n_obs)).values
    
    # lon & lat & distance to land: take the first entry for each
    init_lat = lat_vals[0] if n_obs > 0 else np.nan
    init_lon = lon_vals[0] if n_obs > 0 else np.nan
    init_d2l = d2l_vals[0] if n_obs > 0 else np.nan
    
    # season: this is a single value per storm in IBTrACS
    storm_season = tks.season.isel(storm=i).values  
    storm_season = int(storm_season) if not np.isnan(storm_season) else -999
    
    feature_data.append({
        "storm_id": i,
        "season": storm_season,
        "init_lat": init_lat,
        "init_lon": init_lon,
        "init_dist2land": init_d2l,
    })

features_df = pd.DataFrame(feature_data)
print("shape of features_df:", features_df.shape)

/tmp/ipykernel_538/543419660.py:1: FutureWarning: The return type of `Dataset.dims` will be changed to return a set of dimension names in future, in order to be more consistent with `DataArray.dims`. To access a mapping from dimension names to lengths, please use `Dataset.sizes`.
  num_storms = tks.dims['storm']

shape of features_df: (2344, 5)

In [5]:
features_df

      storm_id  season   init_lat   init_lon  init_dist2land
0            0    1851  26.100000 -90.400009           335.0
1            1    1851  19.000000 -84.599998           299.0
2            2    1851  22.200001 -97.599998            20.0
3            3    1851  12.000000 -60.000000           181.0
4            4    1851  13.500000 -39.000000          1699.0
...        ...     ...        ...        ...             ...
2339      2339    2023  15.600000 -44.500000          1462.0
2340      2340    2023   9.600000 -30.199999          1494.0
2341      2341    2023  12.966667 -51.000000           869.0
2342      2342    2023  11.400000 -82.599998           111.0
2343      2343    2023  15.000000 -81.699997           150.0

[2344 rows x 5 columns]